/* Filter controls common styling */
.filter-section {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px;
  flex-wrap: wrap;
}

.sort-by, .filter-by {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter-label {
  color: #555;
  font-size: 1rem;
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
